
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <div class= "login-section ion-padding">
      <h2><b> Create your account</b></h2>
      <div class= "login-form">
      <div class= "form input">
        
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
          Name is required.
        </span>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.minlength">
          Min 3 chars long.
        </span>
      </div>
      <div class= "form input">
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
          Enter valid email.
        </span>
      </div>
      <div class= "form input">
        <ion-item lines="full">
         <ion-label position="floating">Password</ion-label>
         <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
          Password is required.
        </span>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.password?.minlength">
          Min 8 chars long.
        </span>
      </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        <ion-button color="warning" expand="block" [routerLink]="['/loggin']">Log in</ion-button>
      </ion-col>
    </ion-row>
      </div>
    </div>
  </form>
</ion-content>