<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saturn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>this card is about saturn</ion-card-subtitle>
      <ion-card-title>Bout Saturn</ion-card-title>
      <ion-img src="assets/saturn.jpg"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      Saturn is the sixth planet from the Sun and the second-largest planet in our solar system.
      Adorned with thousands of beautiful ringlets, Saturn is unique among the planets. It is not the only planet to have rings – made of chunks of ice and rock – but none are as spectacular or as complicated as Saturn's.
      Like fellow gas giant Jupiter, Saturn is a massive ball made mostly of hydrogen and helium.
      <ion-button expand="full" color="warning"  [routerLink]="['/loggin']">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
